body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}
#btn{
    top-padding:10px;
    border-radius:10px;
    background-color:#e86100;
    color:white;
    font-size:8px;
}
